@charset "UTF-8";/* VARIABLES TIPOGRAFÍA *//* Tamaños *//* Familias *//* Grosor */.button-adalab__img {
  height: 40px;
  width: 103px;
  margin-top: 10px;
}

.footer__span {
  font-size: 14px;
}

.footer {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__span {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #6b6b6b;
}

.container__colors-fonts {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.title__section-desing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}

.title__section-desing-title {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #54585a;
}

.icon-ungroup-desing {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e17334;
}

.icon-chevron-up-desing {
  font-size: 18px;
  color: #54585a;
}

.form__container-radio {
  margin-left: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input__design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 113px;
}

.first-block {
  margin-top: 0;
}

.paleta__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.color {
  width: 30px;
  height: 25px;
  background-color: black;
}

.color__paleta-primary1 {
  background-color: #114e4e;
}

.color__paleta-primary2 {
  background-color: #438792;
}

.color__paleta-primary3 {
  background-color: #a2deaf;
}

.color__paleta-secondary1 {
  background-color: #420101;
}

.color__paleta-secondary2 {
  background-color: #bd1010;
}

.color__paleta-secondary3 {
  background-color: #e17334;
}

.color__paleta-tertiary1 {
  background-color: #3e5b65;
}

.color__paleta-tertiary2 {
  background-color: #dfe5eb;
}

.color__paleta-tertiary3 {
  background-color: #a0c0cf;
}

.top-container-radiofont {
  margin-top: 36px;
}

.label-block {
  text-transform: uppercase;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.font__style-font1 {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.font__style-font2 {
  font-family: ComicSansMS;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.font__style-font3 {
  font-family: Merriweather;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.page__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__container-logo {
  margin-top: 94px;
  margin-bottom: 35.4px;
}

.header__logo {
  width: 250px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__title {
  color: #e17334;
  font-size: 19.2px;
  font-weight: 900;
  font-family: Merriweather;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 4px;
}

.main__subtitle {
  width: 264.8px;
  height: 38.4px;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 13.8px;
  color: #114e4e;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media all and (min-width: 768px) {
  .header__container-logo {
    margin-top: 348px;
    margin-bottom: 31px;
  }

  .header__logo {
    width: 419px;
  }

  .main__title {
    font-size: 24px;
  }

  .main__subtitle {
    font-size: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
