$orange:  #e17334;
$dirty-blue: #438792;
$turquesa: #114e4e;
$white: #fff;
$gray: #f5f5f5;
$light-gray: #d8d8d8;
$hospital-green: #a2deaf;
$brown: #420101;
$light-brown: #bd1010;
$añil: #3e5b65;
$blue-sky: #dfe5eb;
$light-blue: #a0c0cf;
$dark-gray: #54585a;
$blue-twitter: #00a0f5;
