$color-primary:  #e17334;
$dirty-blue: #438792;
$turquesa: #114e4e;
$white: #fff;
$gray: #f5f5f5;
$light-gray: #d8d8d8;
$hospital-green: #a2deaf;
$brown: #420101;
$light-brown: #bd1010;
$añil: #3e5b65;
$blue-sky: #dfe5eb;
$light-blue: #a0c0cf;
$dark-gray: #54585a;
$blue-twitter: #00a0f5;


/* VARIABLES TIPOGRAFÍA */

/* Tamaños */
$font-size-xxsmall: 12px;
$font-size-xsmall: 13px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xlarge: 19.2px;
$font-size-xxlarge: 24px;

/* Familias */
$font-family-primary: OpenSans;
$font-family-secondary: Merriweather;
$font-family-design1: ComicSansMS;
$font-family-design2: Montserrat;

/* Grosor */
$font-weight-light:
$font-weight-normal: normal;
$font-weight-medium: 600;
$font-weight-bold: bold;
