.page__wrapper {
    flex: 1;
}

.header__page {
    display: flex;
    justify-content: center;

}

.header__container-logo {
    margin-top: 94px;
    margin-bottom: 35.4px;
}

@media all and (min-width: 768px) {

    .header__container-logo {
        margin-top: 348px;
        margin-bottom: 31px;
    }
}

.header__logo {

    width: 250px;
}

@media all and (min-width: 768px) {

    .header__logo {

        width: 419px;
    }
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main__tittle {

    color: $color-primary;
    font-size: $font-size-xlarge;
    font-weight: $font-weight-thicker;
    font-family: $font-family-secondary;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 4px;
}

@media all and (min-width: 768px) {

    .main__tittle {
        font-size: $font-size-xxlarge;

    }
}
.main__subtittle {
    width: 264.8px;
    height: 38.4px;
    font-family: OpenSans;
    font-size: $font-size-xxsmall;
    font-weight: $font-weight-light;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 13.8px;
    color: $color-tertiary;
}

@media all and (min-width: 768px) {
    .main__subtittle {
        font-size: $font-size-medium;
    }
}
