.page__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $color-light-medium;
}

.header__page {
  display: flex;
  justify-content: center;
}

.header__container-logo {
  margin-top: 94px;
  margin-bottom: 35px;
}

.header__logo {
  width: 250px;
}

.main__tittle {
  color: $color-primary;
}

@media all and (min-width: 768px) {
  .header__logo {
    width: 419px;
  }
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__tittle {
  color: $color-primary;
  font-size: $font-size-xlarge;
  font-weight: $font-weight-thicker;
  font-family: $font-family-secondary;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 4px;
}

@media all and (min-width: 768px) {
  .main__tittle{
    font-size: $font-size-xxlarge;
  }
}

.main__subtittle {
  width: 264.8px;
  height: 38.4px;
  font-family: OpenSans;
  font-size: $font-size-xxsmall;
  font-weight: $font-weight-light;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 13.8px;
}

.list {
  border: solid 2px rgba($color-primary, 0.21);
  border-radius: 4px;
  width: 268px;
  padding-top: 15px;
  padding-bottom: 13px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 39px;
}

.list__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.list__element-icon {
  color: $color-primary;
  font-size: 28px;
}
