/* HEADER */

.header--tarjeta {
  padding: 30px 79px 30px 40px;
}

.header__logo--tarjeta {
  width: 201px;
  height: 51px;
}

/* SECCIÓN FOTO */

.section--top {
  background: linear-gradient(to bottom, #bcfff7, #ffd6f9);//añadir variables
  width: vw;
  padding: 10px 35px 30px 45px;
}

.button {
  font-family: $font-family-primary;
  color: $color-medium;
  border: 1px solid $color-light;
  border-radius: 15px;
  width: 75px;
  height: 30px;
  background-color: #bfcdd0;
  padding: 5px;
}

.button__icon {
  margin-right: 10px;
}

.section--top__card {
  width: 240px;
  height: 367px;
  background-color: $color-light;
  margin: auto;
}

.card__title {
  display: block;
  font-size: $font-size-large;
  color: $color-tertiary;
  font-family: $font-family-design1;
  font-weight: $font-weight-thick;
  margin: 20px 14px 5px 20px;
}

.card__subtitle {
  display: block;
  font-family: $font-family-design1;
  color: $color-medium;
  font-size: $font-size-medium;
  font-weight: $font-weight-light;
  margin: 0 67px 10px 20px;
}

.photo {
  width: 240px;
  height: 200px;
  background-color: lightgrey;
}

.card__media {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 10px 22px 10px 20px;
}

.card__media-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: solid 2px $color-light-medium-dark;
  margin-right: 10px;
}

.line {
  width: 240px;
  height: 2px;
  margin-bottom: 10px;
  opacity: 0.2;
  background-color: $color-secundary;
}

.card__skills {
  list-style: none;
  margin: 0 82px 0 15px;
}

.card__skills-icon {
  display: inline-block;
  border-radius: 4px;
  background-color: $color-secundary;
  text-align: center;
}

.icon__text {
  font-size: $font-size-xsmall;
  color: $color-light;
  font-family: $font-family-primary, sans-serif;
  font-weight: $font-weight-light;
  line-height: normal;
  padding: 0 5px;
}

/* FORMULARIO */

.form2--stuffed {
  border: 0;
}

.form2__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 20px;
}

.form2__wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form2__title {
  font-size: $font-size-large;
  font-family: $font-family-primary;
  color: $color-medium;
}

.form2__title--icon {
  color: $color-primary;
  margin-right: 12px;
}

.arrow--icon {
  color: $color-medium;
  font-size: $font-size-large;
}

.form2__button {
  background-color: $color-primary;
}
