
/* HEADER INDEX*/

.header__page {
  display: flex;
  justify-content: center;
}

.header__container--logo {
  margin-top: 94px;
  margin-bottom: 35px;
}

.header__logo {
  width: 250px;
}




/* HEADER TARJETA */

.header--tarjeta {
  padding: 30px 79px 30px 40px;
}

.header__logo--tarjeta {
  width: 201px;
  height: 51px;
}
